* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html,body{
    scrollbar-width: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
        }

::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: myFont;
    src: url(fancy.otf);
}

.side-logo{
    font-family: myFont;
    font-size: 2.8vw;
    font-weight: 300;
    color: teal;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.sd-img{
    width: 5%;
    height: 6%;
}

.nav{
    position: fixed;
    top: 5%;
    right: 2%;
    background-color:whitesmoke;
    border-radius: 20px;
    padding: 3%;
    line-height: 30px;
    transform: translateX(105%); 
    transition: 0.5s linear;
}

.show{
    position: fixed;
    top: 5%;
    right: 2%;
    border-radius: 20px;
    padding: 3%;
    line-height: 30px;
    transform: translateX(0%); 
    transition: 0.5s linear;
}

#header ul li{
    list-style: none;
    margin-left: 3%;
    font-size: medium;
    font-family: sans-serif;
    font-weight: bolder;
    display: inline-block;
}

#header ul li a{
    padding-top: 2px;
    padding-left: 3px;
    text-decoration: none;
    color: teal;
    font-weight: bolder;
    border-radius: 10px;
    padding: 5%;
}

#header ul li a:hover,#header ul li a:active{
    background-color: teal;
    color: white;
}

#arrow{
    font-size: large;
   padding-left: 20%;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100px;
    background: linear-gradient(to top,#094b65,transparent);
    z-index: 10;
}

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

@font-face {
    font-family: myFont5;
    src: url(comic.ttf);
}

section #text{
    position: absolute;
   text-align: center;
   font-size: 10vw;
   transform: translateY(-190px);
   font-family: myFont5;
}

#text1{
    position: absolute;
   text-align: center;
   font-size: 10vw;
   transform: translateY(-190px);
   font-family: myFont5;
}

@font-face {
    font-family: myFont2;
    src: url(news.ttf);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(55px);
}

 .punch{
    position: absolute;
    color:teal;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: myFont2;
    margin-top: -5%;
}

#btn1{
    display: inline-block;
    padding: 3.5%;
    background-color:white;
    color: #094b65;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 40px;
    border-style: none;
    transform: translateY(100px);
    font-family: 'Rancho', cursive;
}

#btn1:hover{
    background-color: #094b65;
    color: white;
}

section h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px rgb(53, 176, 218);
}

section h2:nth-child(2){
    color:rgb(53, 176, 218);
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
        clip-path: polygon(0% 38.5%, 0% 100%, 100% 100%, 100% 51.2%, 80.09% 55.43%, 60.77% 68.28%, 41.04% 63.74%, 20.02% 21.26%);
    }

    50%{
        clip-path: polygon(0% 76.18%, 0% 100%, 100% 100%, 100% 6.2%, 75.01% 23.69%, 66.77% 51.2%, 48.32% 76.18%, 21.4% 84.36%);
    }
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /* object-fit: cover; */
    pointer-events: none;
}

#hang1{
    object-fit:contain;
    width: 50%;
    height: 20%;
    position: absolute;
    top: 47%;
    left: -15%;
}

#washmach{
    object-fit:contain;
    width: 50%;
    height: 20%;
    position: absolute;
    top: 54%;
    left: 55%;
}

.sec{
    margin-top: -15%;
    position:absolute;
}

.sec .video{
    width: 100%;
  height: 100%;
  position: absolute;
  object-fit:cover;
  z-index: -1000;
}

.glow-text{
    text-align: center; 
     -webkit-box-reflect: below -10px linear-gradient(transparent,#5271ff);
}

.glow-text span{
    text-transform: uppercase;
    position: relative;
    font-size: 22px;
    color: #fff;
    font-family: "Yellowtail", sans-serif;
    font-weight: 400;
    display: inline-block;
    animation:wave 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
}

@keyframes wave{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

.para1{
    padding: 3%;
    text-align: center;
    font-size: medium;
    color: white;
    font-weight: 300;
    font-family: myFont2;
}

.p{
    transform: translateY(20px);
    opacity: 0.1;
    transition: 0.8s ease-in-out;
}

.fade{
    transform: translateY(0);
    opacity: 1;
}

.centera{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide1{
    transform: translateX(150%);
    opacity: 0;
    transition: .8s ease-in-out;
    padding-top: 4%;
    width: 50%;
    height: 20%;
}

.sl1{
    transform: translateX(0);
    opacity: 1;
}

.cards{
    margin:auto;
    width: 80%;
    background-color: #094b65;
    height: 600px;
    margin-top: 6%;
}


@font-face {
    font-family: myFont3;
    src: url(heavybrush.ttf);
}

.card-head{
    position: absolute;
    padding: 4%;
   text-align: center;
    font-size: 25px;
    font-family: myFont3;
    color:white;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
}

.rate-head{
    padding: 4%;
   text-align: center;
    font-size: 18px;
    font-family: myFont3;
    color:white;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
}

.rate-head-l{

    display: inline-block;
    padding: 2%;
    font-size: 15px;
    font-family: myFont3;
    color:white;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
}

.rate-head-r{
    position: absolute;
    right: 0;
    display: inline-block;
    padding: 2%;
    font-size: 15px;
    font-family: myFont3;
    color:white;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
}

.rate-l{
    display: inline-block;
    font-size: 15px;
    margin-left: 5%;
    font-weight: 500;
    font-family: myFont2;
    color:white;
}

.rate-r{
    position: absolute;
    right: 0;
 display: inline-block;
    font-size: 15px;
    font-weight: 500;
    font-family: myFont2;
    color:white;
}

.hang-slide{
    padding-top: 8%;
    padding-bottom: 2%;
    width: 30%;
    height: 150px;
    transition: .8s ease-in-out;
}

.sl2{
    width: 100%;
    height: 150px;
}

.btn1{
   margin-top: 2%;
    padding: 3.5%;
    background-color:white;
    color: #094b65;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 40px;
    border-style: none;
    font-family: 'Rancho', cursive;
}

.btn1:hover{
    background-color:#094b65;
    color: white;
}

.wrapper div{
    background-color: rgb(145, 219, 248);
    height: 30px;
    width: 30px;
    border: 2px solid rgb(145, 219, 248);
    border-radius: 50px;
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: 10000;
    opacity: 0;
    animation: .4s linear  infinite;
}

.wrapper div .dot{
    height: 5px;
    width: 5px;
    border-radius: 50px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    top: 20%;
    right: 20%;
}

.wrapper div:nth-child(1){
    top: 90%;
    left: 20%;
    animation: .8s linear  infinite;
}

.wrapper div:nth-child(2){
    top: 80%;
    left: 80%;
    animation: 1s linear  infinite;
}

.wrapper div:nth-child(3){
    top: 60%;
    left: 40%;
    animation: .5s linear  infinite;
}

.wrapper div:nth-child(4){
    top: 95%;
    left: 40%;
    animation: .7s linear  infinite;
}

.wrapper div:nth-child(5){
    top: 95%;
    left: 90%;
    animation: 1s linear  infinite;
}

.wrapper div:nth-child(6){
    top: 95%;
    left: 10%;
    animation: .5s linear  infinite;
}

.wrapper div:nth-child(7){
    top: 95%;
    left: 25%;
    animation: .7s linear  infinite;
}

.wrapper div:nth-child(8){
    top: 91%;
    left: 60%;
    animation: 1s linear  infinite;
}

.wrapper div:nth-child(9){
    top: 95%;
    left: 70%;
    animation: .5s linear  infinite;
}

.wrapper div:nth-child(10){
    top: 95%;
    left: 50%;
    animation: .7s linear  infinite;
}

.wrapper div:nth-child(11){
    top: 95%;
    left: 95%;
    animation: .7s linear  infinite;
}

.wrapper div:nth-child(12){
    top: 95%;
    left: 0%;
    animation: 1s linear  infinite;
}

.wrapper div:nth-child(13){
    top: 75%;
    left: 30%;
    animation: .5s linear  infinite;
}

.wrapper div:nth-child(14){
    top: 55%;
    left: 37%;
    animation: .7s linear  infinite;
}


@keyframes bubbles{
    0%{
        opacity: 1;
        transform: scale(0) translateY(0) rotate(70deg);
    }
    100%{
        opacity: 1;
        transform: scale(1.3) translateY(-400px) rotate(360deg);
    }
}

.fac-head{
    text-align: center;
    padding: 3%;
    font-size: 13px;
    font-family: myFont3;
    color:white;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
}

.para-fac{
    padding: 3%;
    text-align: center;
    font-size: medium;
    color: white;
    font-weight: 300;
    font-family: myFont2;
}

.fac{
    padding: 5%;
    width: 70%;
    margin: auto;
    background-color: #094b65;
    border-radius: 20px;
    margin-bottom: 5%;
}

.fac:hover{
    background-color:black;
    box-shadow: 2px 3px 5px 5px rgb(34, 30, 30);
}

.para-w{
    padding: 3%;
    margin-left: 5%;
    font-size: medium;
    color: white;
    font-weight: 300;
    font-family: myFont2;
}

.para-w li{
    margin-top: 2%;
}

.c-head{
    text-align: center;
    padding: 5%;
    font-size: 20px;
    font-family: myFont3;
    color:white;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
}

.icons{
   margin-top: 4%;
   margin-bottom: 5%;
}

.icons i{
   font-size: 25px;
}

.icons i:hover{
   font-size: 27px;
   background-color: #094b65;
   border-radius: 50%;
}

#scroll-top{
    position: fixed;
    top: 90%;
    right: 5%;
    background-color: white;
    border-radius: 20px;
    font-size: large;
    opacity: 0.5;
}

.cards video{
    width: 80%;
    height: 600px;
  position: absolute;
  object-fit:fill;
  opacity: 0.5;
  z-index:0;
}

.center-card{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(45px);
    margin-bottom: 20%;
}


#details{
   position: fixed;
   top: 10%;
   left: 10%;
    width: 80%;
    background-color:#094b65;
    padding: 5%;
    display:none;
}

.dtl{
    background-color:red;
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: center;
    color:black;
    font-family: myFont1;
}

.info{
    font-size: 18px;
    color:black;
    font-family: myFont2;
    margin-top: 2%;
}

.inps{
    background-color: transparent;
    border-style: none;
    border-bottom: 5px solid black;
    outline: none;
    font-size: large;
    color: red;
    font-family: myFont2;
}

.btn-style{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit{
    width: 50%;
    height: 40px;
    background-color: red;
    color: black;
    font-family: myFont2;
    font-size: 20px;
    border-radius: 10px;
    border-style: inset;
}
